<!--
/*
    tree
    2004,10,18
    modified by Yuuichiro Ohba

    since   : jun. 1, 2004
    version : 0.1
*/
/* RootKw */
.dep1 {
  padding-left: 10px;
}

/* 2Kw */
.dep2 {
  padding-left: 40px;
}

/* 3Kw */
.dep3 {
  padding-left: 70px;
}

/* 4Kw */
.dep4 {
  padding-left: 100px;
}

/* 5Kw */
.dep5 {
  padding-left: 130px;
}

/* 6Kw */
.dep6 {
  padding-left: 160px;
}

/* 7Kw */
.dep7 {
  padding-left: 190px;
}

/* 8Kw */
.dep8 {
  padding-left: 220px;
}

/* 9Kw */
.dep9 {
  padding-left: 250px;
}

/* 10Kw */
.dep10 {
  padding-left: 280px;
}

.text_link1 {
  color: #333333;
  font-size: 80%;
}

img {
  vertical-align: middle;
  margin: 2px;
}